* {
  padding:0;
  margin:0;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 50px auto 35px auto;
  padding: 0 10px 0 10px;
  width: 350px;
}
.img-logo {
  width: 125px;
	margin-right: 60px;
}
.body {
  font-family: Lato, Arial, sans-serif;
  margin: 0 auto;
}

.language {
  display: flex;
  font: 16px Lato, Arial, sans-serif;
}

.img-flag {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.sertificate {
  margin: 20px auto 8px auto;
  text-align: center;
  background: url('./img/green-card.png');
  width: 350px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
}

.title-sertificate {
  font: 21px Lato, Arial, sans-serif;
  font-weight: 600;
  line-height: 28px;
  margin: 0px auto 22px auto;
  padding-top: 23px;
}

.valid {
  color: black;
  background-color: #fff;
  border-radius: 20px;
  width: 70%;
  padding: 7px 12px;
  margin: 10px auto 12px auto;
  font: 15px Lato, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
}

.number {
  font: 21px Lato, Arial, sans-serif;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 45px;
}

.data{
  margin: 0px auto;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  max-width: 350px;
}

.name {
  font: 17px Lato, Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin: 20px auto 5px auto;
  color: #0B1F33;
}

.birthday {
  font: 14px Lato, Arial, sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #0B1F33;
  margin-bottom: 5px;
}

.color-birthday {
  font: 14px Lato, Arial, sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #66727F;
}

.passport {
  font: 14px Lato, Arial, sans-serif;
  font-weight: 400;
  line-height: 23px;
  color: #0B1F33;
  margin-bottom: 28px;
}

.color-pass-num {
  color: #66727F;
}

.button-link {
  padding: 14px 138px 14px 138px;
  text-decoration: none;
  border: 2px solid #0D4CD3;
  color: #0D4CD3;
  border-radius: 8px;
  display: block;
  text-align: center;
  font: 16px Lato, Arial, sans-serif;
}